[Unit]
Description=Cloudflare tunnel server
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/cloudflared tunnel --name map --url http://127.0.0.1:51824
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
